body {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 18px;
    color: #43291F;
    background-color: #F2F4CB;
    margin: 0;
    padding: 40px;
    line-height: 1.6;
}

/* Headings */
h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #0A210F;
    text-align: center;
    margin: 20px 0;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
    color: #CF5C36;
    margin-top: 30px;
    margin-bottom: 10px;
}

/* Paragraphs */
p {
    font-size: 1.1rem;
    margin: 15px 0;
    color: #43291F;
}

/* Navigation */
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    background-color: #A0C4E2;
    margin: 0 -40px;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    font-weight: 600;
    color: #43291F;
    font-size: 1.2rem;
}

nav ul li a.active {
    border-bottom: 3px solid #0A210F;
}

/* Hover effects */
nav ul li a:hover {
    color: #CF5C36;
    background-color: #F2F4CB;
    border-radius: 8px;
}

/* Lists */
ul {
    list-style-type: square;
    padding: 20px;
    margin: 20px;
}

ol {
    list-style-type: upper-roman;
    padding: 20px;
    margin: 20px;
}

dl {
    margin: 20px;
}

dt {
    font-weight: bold;
    color: #0A210F;
}

dd {
    margin-left: 20px;
    color: #43291F;
}

/* Borders */
.boxed {
    border: 2px solid #A0C4E2;
    /* blue border */
    border-radius: 12px;
    padding: 20px;
    margin: 20px 0;
}

button {
    background-color: #CF5C36;
    color: #F2F4CB;
    border: none;
    border-radius: 8px;
    padding: 15px 25px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    background-color: #0A210F;
    color: #F2F4CB;
}

/* content links */
a {
    color: #0A210F;
    text-decoration: underline;
}

a:hover {
    color: #CF5C36;
    text-decoration: none;
}